<footer class="foot">
    <div class="social-info">
        <div class="social-links">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div > Airbnb</div>

        <div class="f-info-links">
             <a href="/privacy"> Privacy</a>
             <a href="/terms"> Terms</a>
        </div>
              

    </div>
</footer>