
   <% layout("/layouts/boilerplate") %>

<body>
               All listings  <br><br>

               <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
                    <%for(data of dbdata){ %> 
                      <a href="/listings/<%= data._id %>" class="u-card">
                        <div class="card">
                            <img class="card-img-top" src="<%= data.image.url %>" alt="Card image cap"  style="height:18rem;">
                            <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <b><p class="card-title"> <%= data.title %></p> </b>
                                <p class="card-price"> &#8377; <%= data.price.toLocaleString("en-IN") %> /night</p>
                            </div>
                        </div>
                       </a>
                    <% } %>
               </div>
                
             
                    
             

</body>
<!-- </html> -->